NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_URL=http://localhost:3000
EMAIL_SERVER=
EMAIL_FROM=
REALM_APP_ID=
MONGODB_DB=
AWS_ACCESS_KEY_LOCAL=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=
S3_MEDIA_CONTENT_FOLDER=
S3_BUCKET_NAME_URL=
MONGODB_URI=
DB_USER=
DB_PASSWORD=