body {
  margin: 0;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.pdfviewer__container__load {
  margin-top: 1em;
  color: white;
}

.pdfviewer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
}

.pdfviewer__buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 3px;
  width: 90%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pdfviewer__container__document {
  width: 100%;
  margin: 0;
}

.pdfviewer__container__document .react-pdf__Page {
  margin: 0;
  box-shadow: none;
}

.pdfviewer__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.Example.fixed {
  overflow-y: auto;
}

.Example.fixed .pdfviewer__container {
  padding: 0 24px;
}
