body {
  margin: 0;
  /* background-color: #525659; */
  font-family: Segoe UI, Tahoma, sans-serif;
}

.pdfviewer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.pdfviewer__container__load {
  margin-top: 1em;
  color: white;
}

.pdfviewer__container__document {
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}

.pdfviewer__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdfviewer__container__document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.pdfviewer__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.Example.fixed {
  overflow-y: auto;
}

.Example.fixed .pdfviewer__container {
  padding: 0 24px;
}

.Example.fixed .pdfviewer__container__document {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Example.fixed .react-pdf__Document {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
