.logo {
  margin-top: -20px !important;
}
.landing-page-container {
  background-image: url('https://img.freepik.com/free-vector/handdrawn-style-line-doodle-pattern_1409-3949.jpg?t=st=1708706966~exp=1708710566~hmac=20506a50dab787eeb4d62c1e106d3995e7e0367db13f7d86fcd31ce2045dabbe&w=1800');
  background-position: center;
}

.landing-page-main-card-container {
  margin-top: 120px;
}

.project-card {
  margin: 1em;
  height: 50px;
  width: 300px;
  background-color: #ec975f;
  position: relative;
  overflow: hidden;
}

.achievement-label {
  position: absolute;
  width: 300px;
  padding: 0.3rem 90px;
  box-sizing: border-box;
  background-color: #7471f0;
  transform: rotateZ(-45deg);
  top: 0;
  left: 0;
  transform-origin: 150px 150px;
  text-align: center;
  color: white;
}

.auth-card {
  background-color: #f0f0f0;
  margin: 30px;
  min-height: 80%;
  max-width: 80%;
}

.auth-container {
  margin: 0 auto;
}

.table-action-item {
  margin: 10px;
}

.table-search-box {
  margin: 20px 0 20px 0 !important;
  width: 99%;
}

.sidebar-menu-item {
  color: white !important;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  color: black !important;
  background-color: gray !important;
}

.admin-active-breadcrumb-item {
  color: gray !important;
}

.form-card {
  background-color: #031525 !important;
  color: white !important;
  margin: 10px;
}

.form-label {
  color: white !important;
}

.form-submit-btn {
  background-color: #020101ba !important;
  width: 100%;
  color: white !important;
}

.confirm-dialog-y-btn {
  background-color: black !important;
  color: white !important;
}

.content-form-label {
  color: white;
  padding: 10px;
}

.content-drop-down-filter {
  max-width: 150px !important;
  min-width: 150px !important;
  margin-bottom: 10px;
  margin-left: 5px;
}

.content-tag-container {
  overflow: scroll;
}

.content-tag-container::-webkit-scrollbar {
  width: 30px;
  height: 5px;
  opacity: 0;
}

.content-tag-container:hover::-webkit-scrollbar {
  opacity: 1;
}

.content-tag-container::-webkit-scrollbar-thumb {
  background-color: rgba(119, 107, 107, 0.1);
  opacity: 0;
}

.library-container {
  background-color: #264463;
  color: white;
}

.content-details-card-meta {
  color: white;
}
.content-details-card-meta-subtitle {
  color: gray;
}
.content-tag-item {
  color: white !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 16px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: #aaa;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 16px;
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #567;
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #678;
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: #789;
}

html.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #345;
}
